.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 1px solid #e6e6e6;
    border-radius: 1px;
    width: 70%;
    margin-top: 50px;
    height: 100%;
    color: #636466;

    @media (max-width: 768px) {
        width: 90%;
    }

    // title input
    input {
        width: 100%;
        border: none;
        padding: 15px 25px;
        border-bottom: 2px solid #f8f8f8;
        font-size: 18px;
        border-radius: 1px;

        &:focus {
            outline: none;
        }
    }

    // content input

    textarea {
        width: 100%;
        height: 100%;
        border: none;
        padding: 15px 25px;
        font-size: 14px;

        &:focus {
            outline: none;
        }

        &::placeholder {
            font-family: inherit;
        }
    }

    // bottom div

    .bottomDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-top: 1px solid #e6e6e6;
        padding: 15px 25px;
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
            align-items: flex-end;
        }

        select {
            border: none;
            margin-left: 5px;
            color: #636466;
            font-size: 15px;

            &:focus {
                outline: none;
            }
        }

        // submit button

        .submitDiv {
            display: flex;
            flex-direction: row;
            align-items: center;

            @media (max-width: 768px) {
                margin-top: 10px;
                align-items: flex-end;
                justify-content: space-between;
            }
        }

        button {
            margin-left: 20px;
            padding: 6px 30px;
            border: 1px solid #3752ff;
            border-radius: 20px;
            background-color: white;
            color: #636466;
            font-size: 16px;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
                background-color: #3752ff;
                color: white;
                transition: 0.3s;
            }

            @media (max-width: 768px) {
                padding: 3px 15px;
                font-size: 14px;
            }
        }
    }
}

.viewNew {
    cursor: pointer;
    color: #3752ff;
    text-decoration: underline;

    &:hover {
        text-decoration: underline;
        transition: 0.3s;
    }
}
.error {
    color: red;
}
// edit
.submitEditDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    border-top: 1px solid #e6e6e6;
    padding: 15px 25px;

    button {
        margin-left: 20px;
        padding: 6px 20px;
        border: 1px solid #3752ff;
        border-radius: 20px;
        font-size: 14px;
        transition: 0.3s;
        cursor: pointer;

        @media (max-width: 768px) {
            padding: 3px 15px;
            font-size: 14px;
        }
    }
    .saveEditBtn {
        background-color: #3752ff;
        color: white;
        transition: 0.3s;

        &:hover {
            background-color: #0118b0;
            transition: 0.3s;
        }
    }
    .cancelEditBtn {
        background-color: white;
        color: #636466;
        transition: 0.3s;

        &:hover {
            background-color: #eff0f9;
            transition: 0.3s;
        }
    }
}
