.comment {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #e6e6e6;
    padding: 15px 20px;
    border-radius: 2px;
    line-height: 1.5;
    word-spacing: 1px;
    margin-top: 10px;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .name {
        font-size: 13px;
        font-weight: 600;
    }
    .bio {
        font-size: 12px;
        color: #636466;
    }
    .discussionTitle {
        font-size: 14px;
        color: #636466;
        cursor: pointer;
    }
}

.commentContent {
    font-size: 13px;
    overflow-wrap: break-word;
}
